@model IEnumerable<Colaborador>

@{
    ViewData["Title"] = "Colaboradores - Index";
}

<h1>Colaboradores</h1>

<a asp-action="Crear" class="btn btn-sm btn-primary">Agregar</a>
<div class="">
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                <input type="text" name="FiltroNombre" value="@ViewData["filtroNombre"]">
                <input type="submit" Value="Filtrar" class="btn btn-sm btn-info">
            </p>
        </div>
    </form>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">@Html.DisplayNameFor(model => model.Id)</a>
                </th>
                <th>@Html.DisplayNameFor(model => model.NombreCompleto)</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var colaborador in @Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => colaborador.Id)</td>
                    <td>@Html.DisplayFor(modelItem => colaborador.NombreCompleto)</td>
                    <td>
                        <a id="btnModificar" asp-action="Modificar" asp-route-id="@colaborador.Id" class="btn btn-sm btn-warning">Editar</a>
                        <a asp-action="Eliminar" asp-route-id="@colaborador.Id" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

